* {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}
.header {
    background-color: rgb(241, 243, 244);
    margin-right: 40px;
    height: 30px;
}
.topnav {
    font-size: x-small;
    font-family: inherit;
    color: rgb(127, 127, 127);
    padding: 6px 361px;
    margin-right: 800px;
}
.blacktext {
    color: rgb(62, 58, 57);
    padding-left: 5px;
}
#topright {
    float: right;
    margin: -22px 332px 0 0;
    padding: 0;
}
#navtomain {
    margin-left: 16px;
    color: rgb(131,188,11);
}
#signin {
    margin-left: 41px;
    margin-right: 13px;
}
#shu {
    color: rgb(230, 230, 230);
}
#register {
    margin-left: 7px;
}