* {
	margin: 0;
	padding: 0;
	list-style: none;
}

section {
	background-color: #fdf8f9;
	background-image: url("../img/lily/bg-audio.jpg");
	background-repeat: no-repeat ;
	font-size: 15px;
	color: white;
	overflow: hidden;
}
#rightNav {
	position: fixed;
	top: 60%;
	right: calc(50% - 720px);
	font-size: 15px;
	color: #898989;
}
#rightNav>div {
	background: url("../img/lily/line.svg") no-repeat;
	position: absolute;
	left: 4px;
	top: 0;
	width: 10px;
	height: 200px;
	margin-top: -20px;
}
#rightNav>p:before {
	display: inline-block;
	width: 14px;
	height: 14px;
	content: '';
	background-image: url(../img/lily/empty.svg);
	vertical-align: middle;
	margin-right: 15px;
}
#rightNav>p {
	margin: 30px 0;
}
#rightNav>p:hover {
	color: #d6b17e;
}
#rightNav>p:hover:before {
	background-image: url("../img/lily/solid.svg");
}

/*主要视频展示*/
.frame{
	width: 1160px;
	margin: auto;
}
#topEx {
	margin-top: 200px;
	width: 1160px;
	height: 653px;
	background-image: url("../img/lily/0.jpg");
	background-repeat: round;
	position: relative;
	text-align: left;
}
#topEx>label>img{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 119px;
}
#topEx>div {
	position: absolute;
	width: 1150px;
	height: 45px;
	line-height: 45px;
	bottom: 0;
	padding-left: 10px;
	background-color: rgba(0,0,0,0.3);
}
#topEx>img {
	position: absolute;
	width: 30px;
	right: 10px;
	bottom: 10px;
}
#topEx>img:last-of-type {
	animation: play 2s linear infinite;
}
section>div:first-child {
	position: relative;
}
#mp4 {
	position: absolute;
	z-index: -1;
	top: 200px;
	width: 1160px;
	height: 653px;
}
#mainVideo:checked ~ #topEx {
	display: none;
}
#mainVideo:checked ~ #mp4 {
	position: relative;
	z-index: auto;
	margin-bottom: 195px;
}

/*一级菜单*/
#nav1 {
	width: 1160px;
	height: 52px;
	text-align: center;
	border-bottom: #d6b17e solid 1px;
}
#nav1>label{
	width: 120px;
	line-height: 52px;
	color: #d6b17e;
	float: left;
}

#nav2,#nav3 {
	display: none;
	padding-top: 3px;
	overflow: hidden;
}
#nav2>label,#nav3>label {
	font-size: 12px;
	color: #898989;
	line-height: 50px;
}
#nav3>label {
	float: left;
}
#nav2>label:before,#nav3>label:before {
	content: '|';
	padding: 0 15px;
}
#nav2>label:last-of-type:after,#nav3>label:last-of-type:after {
	content: '|';
	padding-left: 10px;
}

.exhibition {
	text-align: center;
}
.exhibition>ul {
	overflow: hidden;
	font-size: 14px;
}
.exhibition>ul>li {
	float: left;
	width: 360px;
	height: 241px;
	padding: 4px 0 32px;
}
.exhibition>ul>li>div:first-child {
	position: relative;
	width: 360px;
	height: 203px;
	background-color: black;
}
.exhibition>ul>li>div:first-child>img:first-child {
	width: 360px;
	height: 203px;
}
.exhibition>ul>li:not(:nth-child(3n)) {
	margin-right: 40px;
}
.exhibition>ul>li>div>div {
	position: absolute;
	border: #d6b17e solid 1px;
	width: 337px;
	height: 183px;
	line-height: 183px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.exhibition>ul>li>div>div>img {
	vertical-align: middle;
	width:60px;
	opacity: 0;
}
.exhibition>ul>li>div:first-child>img:last-child {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 55px;
	opacity: 0;
}
.exhibition>ul>li>div:last-child {
	width: 360px;
	height: 39px;
	line-height: 39px;
	background-color: #d6b17e;
}
.exhibition>ul>li>div:last-child>img {
	width: 20px;
	vertical-align: middle;
}
.exhibition2 {
	margin-top: 60px;
}

.frame input {
	display: none;
}
#ex1 {
	display: none;
	position: relative;
	height: 920px;
}
#ex2 {
	display: none;
	position: relative;
	height: 630px;
}
#ex1>ul,#ex2>ul {
	position: absolute;
	top: 0;
	display: none;
}
.exhibition>label,.exhibition2>label {
	position: absolute;
	font-size: 15px;
	bottom: 50px;
	line-height: 30px;
	color: #898989;
}
.exhibition>label>img,.exhibition2>label>img {
	height: 30px;
	vertical-align: middle;
}
.exhibition>label:first-child,.exhibition2>label:first-child {
	left: 10px;
	color: #d6b17e;
	font-size: 12px;
}
#ex1>label:nth-child(2) {
	left: 50%;
	transform: translate(-26px);
}
#ex1>label:nth-child(3) {
	left: 50%;
}
#ex1>label:nth-child(4) {
	left: 50%;
	transform: translate(26px);
}
#ex1>label:nth-child(5),#ex2>label:nth-child(4),.exhibition2>label:nth-child(4) {
	right: 10px;
	color: #d6b17e;
	font-size: 12px;
}
#ex2>label:nth-child(2),.exhibition2>label:nth-child(2) {
	left: 50%;
	transform: translate(-13px);
}
#ex2>label:nth-child(3),.exhibition2>label:nth-child(3) {
	left: 50%;
	transform: translate(13px);
}
#ex1>label:nth-child(2):after,#ex1>label:nth-child(3):after,#ex2>label:nth-child(2):after,.exhibition2>label:nth-child(2):after {
	content: '·';
	padding-left: 5px;
}

.frame>#video:checked ~ #nav2 {
	display: block;
}
.frame>#picture:checked ~ #nav3 {
	display: block;
}
.frame>#video:checked ~ #nav1 label:first-child {
	border-bottom: solid 3px;
	margin-top: -2px;
}
.frame>#picture:checked ~ #nav1 label:last-child {
	border-bottom: solid 3px;
	margin-top: -2px;
}
.frame>#pubVideo:checked ~ #nav2>label:first-child {
	color: #d6b17e;
}
.frame>#officialVideo:checked ~ #nav2>label:nth-child(2) {
	color: #d6b17e;
}
.frame>#actPic:checked ~ #nav3>label:first-child {
	color: #d6b17e;
}
.frame>#posterPic:checked ~ #nav3>label:nth-child(2) {
	color: #d6b17e;
}
.frame>#originalPic:checked ~ #nav3>label:nth-child(3) {
	color: #d6b17e;
}
.frame>#pubPic:checked ~ #nav3>label:nth-child(4) {
	color: #d6b17e;
}
.frame>#pubVideo:checked ~ #nav2>#ex1 {
	display: block;
}
.frame>#officialVideo:checked ~ #nav2>#ex2 {
	display: block;
}
.frame>#actPic:checked ~ #nav3>#ex3 {
	display: block;
}
.frame>#posterPic:checked ~ #nav3>#ex4 {
	display: block;
}
.frame>#originalPic:checked ~ #nav3>#ex5 {
	display: block;
}
.frame>#pubPic:checked ~ #nav3>#ex6 {
	display: block;
}

.frame>#page1-1:checked ~ #nav2 [for='page1-1'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page1-2:checked ~ #nav2 [for='page1-2'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page1-3:checked ~ #nav2 [for='page1-3'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page1-1:checked ~ #nav2 #pubVideo1 {
	display: block;
}
.frame>#page1-2:checked ~ #nav2 #pubVideo2 {
	display: block;
}
.frame>#page1-3:checked ~ #nav2 #pubVideo3 {
	display: block;
}
.frame>#page1-1:checked ~ #nav2>#ex1>label:first-child {
	display: none;
}
.frame>#page1-3:checked ~ #nav2>#ex1>label:nth-child(5) {
	display: none;
}

.frame>#page2-1:checked ~ #nav2 [for='page2-1'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page2-2:checked ~ #nav2 [for='page2-2'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page2-1:checked ~ #nav2 #officialVideo1 {
	display: block;
}
.frame>#page2-2:checked ~ #nav2 #officialVideo2 {
	display: block;
}
.frame>#page2-1:checked ~ #nav2>#ex2>label:first-child {
	display: none;
}
.frame>#page2-2:checked ~ #nav2>#ex2>label:nth-child(4) {
	display: none;
}

.exhibition2 {
	height: 880px;
	position: relative;
	display: none;
}
.exhibition2>ul {
	overflow: hidden;
	font-size: 12px;
	display: none;
	position: absolute;
	height: 756px;
	top: 0;
}
.exhibition2>ul>li {
	position: relative;
	float: left;
	width: 360px;
	height: 360px;
}
.exhibition2>ul>li>img {
	width: 360px;
}
.exhibition2>ul>li>div:first-of-type {
	position: absolute;
	width: 344px;
	height: 344px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border: #d6b17e solid 1px;
}
.exhibition2>ul>li>div:last-child {
	position: absolute;
	width: 340px;
	height: 47px;
	line-height: 47px;
	bottom: 0;
	padding-left: 20px;
	background-color: rgba(0,0,0,0.3);
	display: none;
}
.exhibition2>ul>li>div>img {
	position: absolute;
	width: 25px;
	bottom: 12px;
	right: 12px;
}
.exhibition2>ul>li {
	margin-bottom: 35px;
}
.exhibition2>ul>li:not(:nth-child(3n)) {
	margin-right: 40px;
}

.frame>#page3-1:checked ~ #nav3 [for='page3-1'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page3-2:checked ~ #nav3 [for='page3-2'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page3-1:checked ~ #nav3 #actPic1 {
	display: block;
}
.frame>#page3-2:checked ~ #nav3 #actPic2 {
	display: block;
}
.frame>#page3-1:checked ~ #nav3>#ex3>label:first-child {
	display: none;
}
.frame>#page3-2:checked ~ #nav3>#ex3>label:nth-child(4) {
	display: none;
}

.frame>#page4-1:checked ~ #nav3 [for='page4-1'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page4-2:checked ~ #nav3 [for='page4-2'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page4-1:checked ~ #nav3 #posterPic1 {
	display: block;
}
.frame>#page4-2:checked ~ #nav3 #posterPic2 {
	display: block;
}
.frame>#page4-1:checked ~ #nav3>#ex4>label:first-child {
	display: none;
}
.frame>#page4-2:checked ~ #nav3>#ex4>label:nth-child(4) {
	display: none;
}

.frame>#page5-1:checked ~ #nav3 [for='page5-1'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page5-2:checked ~ #nav3 [for='page5-2'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page5-1:checked ~ #nav3 #originalPic1 {
	display: block;
}
.frame>#page5-2:checked ~ #nav3 #originalPic2 {
	display: block;
}
.frame>#page5-1:checked ~ #nav3>#ex5>label:first-child {
	display: none;
}
.frame>#page5-2:checked ~ #nav3>#ex5>label:nth-child(4) {
	display: none;
}

.frame>#page6-1:checked ~ #nav3 [for='page6-1'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page6-2:checked ~ #nav3 [for='page6-2'] {
	bottom: 49px;
	color: #d6b17e;
}
.frame>#page6-1:checked ~ #nav3 #pubPic1 {
	display: block;
}
.frame>#page6-2:checked ~ #nav3 #pubPic2 {
	display: block;
}
.frame>#page6-1:checked ~ #nav3>#ex6>label:first-child {
	display: none;
}
.frame>#page6-2:checked ~ #nav3>#ex6>label:nth-child(4) {
	display: none;
}

.exhibition>ul>li>div:first-child:hover img {
	opacity: 1;
}
.exhibition>ul>li>div:first-child:hover>img:first-child{
	opacity: 0.6;
}
.exhibition2>ul>li:hover>div:last-child {
	display: block;
}
.exhibition>ul>li>div:first-child:hover>img:last-child,.exhibition2>ul>li:hover>div:last-child>img:first-child {
	animation: play 3s linear infinite;
}
@keyframes play {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
#nav1>label:hover {
	border-bottom: solid 3px;
	margin-top: -2px;
}
#nav2>label:hover,#nav3>label:hover {
	color: #d6b17e;
}
.page:hover {
	bottom: 49px;
	color: #d6b17e;
}